<!DOCTYPE html>
<html>

<head>
</head>

<body>

  <div class="responsive">
    <div class="gallery">
      <button id="1" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Cinque Terre" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 1</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <button id="2" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 2</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="3" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 3</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="4" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 4</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="5" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 5</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="6" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 6</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="7" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 7</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <button id="8" (click)="onClick()">
        <img src='../../assets/download1.jpg' alt="Forest" width="600" height="400">
      </button>
      <div class="desc">Grocery Combo Pack 8</div>
    </div>
  </div>
  <div class="clearfix"></div>

</body>

</html>
